@import '../../styles/pallete.scss';

.orders-page-container {
    margin-top: 55px;

    .order-top-text {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    .orders-page-container .order-top-text {
        flex-direction: column;
        text-align: center;
        h3 {
            font-size: 24px;
        }
    }
}
