@import '../../styles//pallete.scss';

.orders-page-container {
    padding: 70px 0;
    .order-top-text {
        display: flex;
        justify-content: space-between;
    }
}
.order-page-form{
    .form-group{
        max-width: 60%;
        margin: 15px auto;
        .btn-submit{
            color: $white;
            background-color: $mainPurple;
            padding: 5px 30px;            
            border: none;
            text-align: center;
        }
    }
    .form-btn{
        text-align: center;
    }
}
