@import '../../styles//pallete.scss';

.orders-page-container {
    margin-top: 55px;
    .order-top-text {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }
}

