.phones-brands{
    padding: 10px 0;
    li.phones-item{
        cursor: pointer;
        &:hover{
            font-weight: bold;
        }
    }
}
.phones-brand-model{
    border-bottom: 1px solid #dbdbdb;
    padding: 10px 0;
    .phones-name-title{
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        &:hover{
            font-weight: 500;
        }
    }
    
}