@import '../../styles/pallete.scss';

.navigationbar-container {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 100;
   font-size: 18px;
   background-color: $mainPurple;
   overflow: hidden;

   .navigationbar-inner {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;

      .navigationbar-logo {
         a {
            color: $white;
            padding-bottom: 3px;
            transition: all 0.3s ease-in-out;
            border-bottom: 3px solid transparent;
            margin-left: 25px;

            &:hover {
               border-bottom: 3px solid $white;
            }
         }
      }

      .navigationbar-links {
         a {
            color: $white;
            padding-bottom: 3px;
            transition: all 0.3s ease-in-out;
            border-bottom: 3px solid transparent;
            margin-left: 25px;

            &:hover {
               border-bottom: 3px solid $white;
            }
         }
      }
   }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

   //CSS

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

   //CSS

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

   //CSS

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   //CSS

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

   .navigationbar-container {
      .navigationbar-inner {
         .navigationbar-links {
            display: none;
         }
      }
   }

}

@media (min-width: 320px) and (max-width: 480px) {

   .navigationbar-container {
      .navigationbar-inner {
         .navigationbar-links {
            display: none;
         }
      }
   }
}

@media (max-width: 320px) {

   .navigationbar-container {
      .navigationbar-inner {
         .navigationbar-links {
            display: none;
         }
      }
   }
}
