@import '../../styles/pallete.scss';

.navigationbar-container {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 100;
   font-size: 18px;
   background-color: $mainPurple;
   overflow: hidden;

   .navigationbar-inner {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;

      .navigationbar-logo {
         a {
            color: $white;
            padding-bottom: 3px;
            transition: all 0.3s ease-in-out;
            border-bottom: 3px solid transparent;
            margin-left: 25px;

            &:hover {
               border-bottom: 3px solid $white;
            }
         }
      }

      .navigationbar-links {
         a {
            color: $white;
            padding-bottom: 3px;
            transition: all 0.3s ease-in-out;
            border-bottom: 3px solid transparent;
            margin-left: 25px;

            &:hover {
               border-bottom: 3px solid $white;
            }
         }
      }
   }
}

@media (min-width: 481px) and (max-width: 767px) {

   .navigationbar-container {
      .navigationbar-inner {
         .navigationbar-links {
            display: none;
         }
      }
   }

}

@media (min-width: 320px) and (max-width: 480px) {

   .navigationbar-container {
      .navigationbar-inner {
         .navigationbar-links {
            display: none;
         }
      }
   }
}

@media (max-width: 320px) {

   .navigationbar-container {
      .navigationbar-inner {
         .navigationbar-links {
            display: none;
         }
      }
   }
}
