@import '../../styles/pallete.scss';

.navigationbar-container {
   position: fixed;
   width: 100%;
   top: 0;
   font-size: 18px;
   background-color: $mainDarkBlue;
   overflow: hidden;
   a{
      color: $white;
   }
   .navigationbar-inner {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      .navigationbar-links{
         a{
            margin-left: 25px;
         }
      }
   }
}