.home-container{
    text-align: center;
    margin-top: 55px;
    padding: 20px;
    height: 100vh;
    h1{
        padding: 10px 0;
    }
    img{
        height: 90%;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 200px;
    }
}
